<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.twiliovoicereactnative">
  <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO" />

  <application>
    <service
      android:name=".VoiceFirebaseMessagingService"
      android:stopWithTask="false"
      android:exported="true"
      android:enabled="@bool/twiliovoicereactnative_firebasemessagingservice_enabled">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>
    <service
      android:name=".VoiceService"
      android:foregroundServiceType="microphone"
      android:exported="false" />
  </application>
</manifest>
